<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nipponit.manojm.smartplanner10">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CategoryFigureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Achievement.ViewCategoryFigure"
            android:label="@string/title_activity_view_category_figure"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WeekActivity"
            android:label="@string/title_activity_week"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CategoryWeekFigureActivity"
            android:label="@string/title_activity_week"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".com.nipponit.manojm.smartplanner10.customer.CustomerActivity"
            android:label="@string/title_activity_customer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DateActivity"
            android:label="@string/title_activity_date"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Achievement.AreaAchievement_Activity"
            android:label="@string/title_activity_area_achievement_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Achievement.WeekAchivementActivity"
            android:label="@string/title_activity_week_achivement"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Achievement.DateAchievementActivity"
            android:label="@string/title_activity_week_achivement"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Achievement.CategoryFigure.CategoryAchievementWeekFigureActivity"
            android:label="@string/title_activity_week_achivement"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Achievement.CustomerFigure.CustomerAchievementActivity"
            android:label="@string/title_activity_week_achivement"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Achievement.CustomerFigure.View_CustomerAchievementActivity"
            android:label="@string/title_activity_week_achivement"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".customers.CustomerManager"
            android:label="@string/title_activity_customer_manager"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>
    </application>

</manifest>